* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 2.2rem;
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764); 
    color: #FFFFFF;
}

body{
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764); 
}

body::-webkit-scrollbar {
    width: 15px;              
}
  
body::-webkit-scrollbar-track {
    background:#C33764;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(208, 207, 207);
    border-radius: 20px;
}



.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #000000;
    
}

.quiz-form {
    background: #f1dbe3;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 10px rgba(0,0,0,.4);
}

.second-title {
    padding: 50px;
    font-weight: bold;
    font-size: 2rem;
}

.question {
    padding-left: 6.5rem;
    margin-top: 30px;
}

p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

label {
    padding-left: 2.1rem;
    font-size: 1.4rem;
    margin-top: 15px;
    color: rgba(0, 0, 0, .8);
}



.btn {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn button{
    font-size: 2.5rem;
    font-weight: bold;  
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

footer {
    height: 50px;
}

/* ================= WRAPPER ===================*/


button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    text-align: center;
    width: 100%;
    max-width: 30rem;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 15px;
}

.message-score {
    margin-top: 50px;
    margin-bottom: 50px;
}

.percent-score {
    font-size: 2.5rem;
    color: #b83665;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;

}